# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# macOS
._*
.DS_Store
.AppleDouble
.LSOverride

# WordPress (não usado mais)
bioactive-hair-plugin.php
setup-wp-plugin.php
deploy-wp.sh
